# Porta do servidor local
PORT=3000

# Chave secreta para gerar o JWT (Mude para algo complexo em produção)
JWT_SECRET=sua_chave_secreta_aqui

# Credenciais iniciais do primeiro administrador
ADMIN_EMAIL=admin@estetica.com
ADMIN_PASSWORD=admin123
